@model IEnumerable<FileUploadOperation.Models.TourBooking>

 <h1>List of Tour Booking Applications</h1> 

<table class="table table-striped table-bordered">
    <thead class="thead-dark">

        <tr>
            <th>TourBooking ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>When areyouplanning to visit?</th>
            @* <th>How manypeople are your group?</th> *@
            <th>Whichtoursorevents</th>
            @* <th>bestwaytocontact</th> *@
          <th>besttimeofday</th>
@*             <th>AnythingElse</th>
            <th>HowDidYouHear</th>  *@
            @* <th>country</th> *@
            <th>View</th>
            <th>Update</th> 
            <th>Delete</th>

        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {  
            @foreach (var tourBooking in Model)
            {
                <tr>
                    <td>@tourBooking.TourBookingId</td>
                    <td>@tourBooking.FirstName</td>
                    <td>@tourBooking.LastName</td>
                    <td>@tourBooking.Email</td>
                    <td>@tourBooking.Phone</td>
                    <td>@tourBooking.TimeofIncident</td>
                    @* <td>@tourBooking.Howmanypeople</td> *@
                    <td>@tourBooking.Whichtoursorevents</td>
                    @*  <td>@tourBooking.bestwaytocontact</td>  *@
                     <td>@tourBooking.besttimeofday</td>
                   @*  <td>@tourBooking.AnythingElse</td>
                    <td>@tourBooking.HowDidYouHear</td>  *@
                    @* <td>@tourBooking.Country</td> *@
                    @* <td>@tourBooking.City</td>   *@


                    <td> @Html.ActionLink("View", "DisplayView", new { id = tourBooking.TourBookingId, mode = "View" }) </td>


                    <td> @Html.ActionLink("Update", "Update", new { id = tourBooking.TourBookingId, mode = "Update" }) </td>

                    <td> @Html.ActionLink("Delete", "Delete", new { id = tourBooking.TourBookingId, mode = "Delete" }) </td>

                    
                   @*  <td><a href="/TourBookingDetails/Update/id=@tourBooking.TourBookingId">Update</a></td> *@
                    
                </tr>
            }
         }
        else
        {
            <p>No registrations found.</p>
        }
        
    </tbody>
</table>
 

